body {
  background-image: url("https://cdn.wallpapersafari.com/97/50/eRwDMy.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  padding-top: 30px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main {
  width: 600px;
  height: 400px;
  margin: auto;
  left: 50%;
  margin-top: 50px;
  border: solid 2px black;
  text-align: center;
}
