@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.box {
  padding-top: 30px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main {
  width: 600px;
  height: 400px;
  margin: auto;
  left: 50%;
  margin-top: 50px;
  border: solid 2px black;
  text-align: center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #b9d9eb; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
